{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h2 class="page-maintitle">Role Management</h2>
    <h3 class="page-subtitle">Edit Roles</h3>
    {{ form(form) }}
{% endblock %}
